Pillow==10.1.0
arabic-reshaper==3.0.0
python-bidi==0.4.2
requests==2.31.0
python-telegram-bot==20.7
openai==1.12.0
moviepy==1.0.3
numpy==1.24.3
imageio
imageio-ffmpeg
decorator
proglog
tqdm
elevenlabs
